<template>
  <Header />
  <div>
    <NuxtPage />
  </div>
  <Footer />
</template>

<script setup lang="ts">
import Footer from './components/Footer.vue';
import Header from './components/Header.vue';
import { useAuth } from './composables/useAuth';


</script>

<style>
/* Importation des fonts  */
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


/* creation des variable dans un style non scoped pour qu'elles soit appelable de partout */
* {
  --rouge-sombre: rgb(112, 0, 5);
  --rouge-fraise: rgb(163, 20, 27);
  --rouge-clair: rgb(255, 186, 190);
}
p{
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.namecase{
  display: inline-block;
  text-transform: lowercase;
}

.namecase::first-letter {
    text-transform: uppercase;
}
</style>
