<template>
    <div>
        <h2>Mes avis</h2>

        <div v-if="data">
            <div v-for="comment of data.content" class="mt-3 pt-3">
                <p class="mb-1">{{ comment.note }}</p>
                <p>{{ comment.text }}</p>
                <div class="space"></div>
            </div>
        </div>
    </div>

</template>

<script setup lang="ts">
import type { Page, Commentaire } from '~/entities';
const user = useAuth()

const pageNumber = ref(0)
const {data} = useFetch<Page<Commentaire>>('http://localhost:8080/api/comment/user/'+user.value?.id, {
    query: { pageNumber }
});

</script>

<style scoped>
h2 {
    font-family: "Merienda", cursive;
    font-size: 40px;
    margin-bottom: 1em;
}

.space{
    border: 1px solid var(--rouge-clair);
}
</style>