<template>
    <main>
        <div class="card cardStyle">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title "><span class="uppercase">{{ coordonne.nom }}</span> <span class="namecase">{{ coordonne.prenom }}</span></h5>
                    <div class="buttons">
                        <button class="btn" @click="updateCo(coordonne), toEdit()">
                            <Icon name="ic:baseline-edit" class="icon" />
                        </button>
                        <button class="btn" @click="deleteCo(coordonne)">
                            <Icon name="ic:delete" class="icon" />
                        </button>
                    </div>
                </div>
                <h6 class="card-subtitle mb-2">{{ coordonne.telephone }}</h6>
                <p class="card-text m-0">{{ coordonne.adress }}</p>
                <p class="card-text m-0">{{ coordonne.codePostal }} {{ coordonne.ville }}</p>
                <p class="card-text m-0">{{ coordonne.pays }}</p>
            </div>
        </div>
    </main>
</template>

<script setup lang="ts">
import type { Coordonne } from '~/entities';


defineProps<{
    coordonne: Coordonne
}>()

const emit = defineEmits(['delete', 'update', 'edit']);

async function deleteCo(coordonne: Coordonne) {
    emit('delete', coordonne)
};

async function updateCo(coordonne: Coordonne) {
    emit('update', coordonne)
};

async function toEdit() {
    emit('edit')
};
</script>

<style scoped>
.cardStyle {
    border-color: var(--rouge-clair);
    filter: drop-shadow(0px 0px 2px var(--rouge-clair));
}

h5 {
    font-size: 25px;
    text-align: justify;
    margin-top: 8px;
}

h6 {
    color: var(--rouge-sombre);
    margin-top: 10px;
}

p {
    color: var(--rouge-sombre);
}

button {
    color: var(--rouge-clair);
    border-radius: 10px;
    background-color: white;
}

.icon {
    width: 25px;
    height: auto;
    color: var(--rouge-sombre);
}

.buttons button{
    padding: 5px;
}
</style>