<template>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Mes Coordonnées</h2>
            <button class="btn align-self-center" @click="addCo = !addCo">{{ !addCo ? 'Ajouté une adresse' : 'retour'
                }}</button>
        </div>
        <div v-if="!addCo">
            <div class="row row-cols-1 row-cols-sm-2 g-2" v-if="!editing">
            <CardCoordonne v-if="data" v-for="item of data" :coordonne="item" @update="handlUpdate($event)" @edit="editing = !editing" @delete="handlDelete($event)"/>
            </div>
        </div>
        <FormCoordonne v-if="addCo" :button-name="buttonAdd" @display="restvalue" />
        <FormCoordonne v-if="editing" :button-name="buttonUpdate" :initial-co="toUpdate" @display="restvalue" />
        <button v-if="data?.length == 0 && !addCo" class="align-self-center ZeroCoo" @click="addCo = !addCo">Ajouté une adresse</button>
    </div>

</template>

<script setup lang="ts">
import type { Coordonne } from '~/entities';
import FormCoordonne from './FormCoordonne.vue';
import CardCoordonne from './CardCoordonne.vue';

const buttonAdd = ref('Ajouté')
const buttonUpdate = ref('Modifier')
const user = useAuth();
const toUpdate = ref<Coordonne>()
const addCo = ref<boolean>(false);
const editing = ref<boolean>(false);

const { data, refresh } = await useFetch<Coordonne[]>('http://localhost:8080/api/coordonne/user/' + user.value?.id, {
    method: 'GET'
});

async function handlDelete(coordonne: Coordonne) {
    await $api<Coordonne>('/api/coordonne/'+coordonne.id, {
        method: 'DELETE'
    })
    refresh()
};

async function handlUpdate(coordonne: Coordonne) {
    toUpdate.value = coordonne
};

function restvalue() {
    addCo.value = false
    editing.value = false
    refresh()
}
</script>

<style scoped>
h2 {
    font-family: "Merienda", cursive;
    font-size: 40px;
    margin-bottom: 1em;
}

button {
    border: 2px solid var(--rouge-clair);
    color: var(--rouge-clair);
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
}

.ZeroCoo{
    padding: 20px 80px;
    margin: 10% 30%;
    background-color: rgb(255, 188, 188);
    color: black;
    border-color: black;
}
</style>