<template>
    <div class="row  d-flex justify-content-center">
        <div class="col col-10 p-3">
            <form @submit.prevent="addCoordonne()" class="formulaire">
                <div class="d-flex">
                    <div class="mb-3 col-6 p-2">
                        <label class="form-label">Prénom</label>
                        <input type="text" class="form-control" v-model="added.prenom">
                    </div>
                    <div class="mb-3 col-6 p-2">
                        <label class="form-label">Nom</label>
                        <input type="text" class="form-control" v-model="added.nom">
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <label class="form-label">Adresse</label>
                    <input type="text" class="form-control" v-model="added.adress">
                </div>
                <div class="mb-3 p-2">
                    <label class="form-label">Complement</label>
                    <input type="text" class="form-control" v-model="added.complement">
                </div>
                <div class="d-flex">
                    <div class="mb-3 col-6 p-2">
                        <label class="form-label">Code postal</label>
                        <input type="text" class="form-control" size="6" maxlength="5" v-model="added.codePostal">
                    </div>
                    <div class="mb-3 col-6 p-2">
                        <label class="form-label">Ville</label>
                        <input type="text" class="form-control" v-model="added.ville">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mb-3 col-6 col-xs-12 p-2">
                        <label class="form-label">Pays</label>
                        <AccountPaysSelector style="width: 100%;" @valuePays="updatePays" />

                    </div>
                    <div class="mb-3 col-6 p-2">
                        <label class="form-label">Téléphone</label>
                        <input type="tel" maxlength="10" class="form-control" v-model="added.telephone">
                    </div>
                </div>
                <button type="submit" class="btn m-2">{{buttonName}}</button>
            </form>
        </div>
    </div>
</template>


<script setup lang="ts">
import type { Coordonne } from '~/entities';

const { initialCo } = defineProps<{
    initialCo?: Coordonne;
    buttonName: string
}>();

function updatePays(pays: string) {
    added.value.pays = pays;
}

const added = ref<Coordonne>({
    nom: '',
    prenom: '',
    adress: '',
    complement: '',
    codePostal: 0,
    ville: '',
    pays: '',
    telephone: '',
    ...initialCo
});

const emit = defineEmits(['display'])

async function addCoordonne() {
    console.log(added.value)
    if (initialCo == null) {
        const addCoor = await $api<Coordonne>('/api/coordonne', {
            method: 'POST',
            body: added.value
        })
    } else {
        await $api<Coordonne>('/api/coordonne/update', {
        method: 'POST',
        body: added.value
    })
    }
    emit('display')

};


</script>

<style scoped>
button {
    background-color: var(--rouge-clair);
    font-weight: 600;
}
</style>