<template>
    <div>
        <h2>Historique des commandes</h2>
        <table class="table">
            <thead>
                <tr class="d-flex justify-content-between">
                    <th class="panier" scope="col">N°commande</th>
                    <th class="panier" scope="col">Date</th>
                    <th class="panier" scope="col">Quantité Produit</th>
                    <th class="panier" scope="col">prix total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr v-if="data" v-for="commande of data.content">
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.prix }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</template>

<script setup lang="ts">

import type { Page, Commande } from '~/entities';
const user = useAuth()

const pageNumber = ref(0)
const {data} = useFetch<Page<Commande>>('http://localhost:8080/api/commande/user/'+user.value?.id, {
    query: { pageNumber }
});

</script>

<style scoped>
h2 {
    font-family: "Merienda", cursive;
    font-size: 40px;
    margin-bottom: 1em;
}

tbody {
    color: var(--rouge-fraise);
}

.panier {
    color: var(--rouge-sombre);
}
</style>