<template>
    <div>
        <h2>Panier</h2>
        <table class="table">
            <thead>
                <tr class="d-flex justify-content-between align-items-center">
                    <th class="panier" scope="col">Produit</th>
                    <th class="panier" scope="col">Quantité</th>
                    <th class="panier" scope="col">prix</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="d-flex justify-content-between align-items-center">
                    <th scope="row"><img src="https://images.unsplash.com/photo-1560180474-e8563fd75bab?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></th>
                    <td>4</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>Nombre de produits : <span>{{ nbProduits }}</span></p>
            <p>Prix total : <span>{{ prixTotal }}</span></p>
        </div>
    </div>

</template>

<script setup lang="ts">


const nbProduits = ref(0);
const prixTotal = ref(0);



</script>

<style scoped>
h2 {
    font-family: "Merienda", cursive;
    font-size: 40px;
    margin-bottom: 1em;
}

tbody{
    color: var(--rouge-fraise);
}

.panier{
    color: var(--rouge-sombre);
}

p{
    color: var(--rouge-sombre);
    font-size: 16px;
}

img{
    width: 8rem;
    background-size: cover;
}

</style>