<template>
    <div>
        <h2>Mes suivie de commande</h2>


    </div>

</template>

<script setup lang="ts">


</script>

<style scoped>
h2 {
    font-family: "Merienda", cursive;
    font-size: 40px;
    margin-bottom: 1em;
}


</style>