<script lang="ts" setup>
import Coordonne from '~/components/account/Coordonne.vue';

async function displayForm() {
  const showForm = ref<boolean>(false)
}
</script>

<template>
  <div>
    <Coordonne />

    <!-- <FromCoordonne v-if="showForm"/> -->
  </div>
</template>

<style scoped></style>
