<template>
  <main>
      <Produit />
      <Commentaire />
  </main>
</template>

<script setup lang="ts">
import Commentaire from '~/components/Produit/Commentaire.vue';
import Produit from '~/components/Produit/Produit.vue';

</script>

<style scoped>

</style>