<script lang="ts" setup>

</script>

<template>

  <footer>

    <div>
      <a href="#">
        <Icon name="simple-icons:facebook" />
      </a>
      <a href="#">
        <Icon name="simple-icons:instagram" />
      </a>
      <a href="#">
        <Icon name="simple-icons:twitter" />
      </a>
      <a href="#">
        <Icon name="ic:baseline-mail-outline" />
      </a>
    </div>
    <div>
      <p>Douce tentations -- 2024</p>
    </div>

  </footer>
</template>

<style scoped>

p {
  color: var(--rouge-fraise);
}

div {
  display: flex;
  align-content: center;
  justify-content: center;
}


footer {
  background-image: url("/image/macaron.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}


a {
  font-size: 35px;
  color: var(--rouge-fraise);
  margin: 2em;
  filter: drop-shadow(1px 1px 3px white);
  &:hover {
  filter: drop-shadow(2px 2px 3px rgb(255, 235, 235));
  }
}

footer{
  border-top: 1px solid black;

}
</style>
