<script lang="ts" setup>
const user = useAuth()
const navOpen = ref<boolean>(false)
</script>

<template>

    <header>

        <div class="d-flex align-items-center justify-content-between px-5 py-4 ">

            <!-- Barre de Recherche -->

            <div class="d-flex cotes">
                <form class="d-flex search" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Recherche">
                    <button class="btn" type="submit">
                        <Icon class="loupe" name="bi:search" />
                    </button>
                </form>
            </div>

            <!-- Titres -->

            <div class="Titles">
                <h1 id="MainTitle">Douce Tentations</h1>
                <h2 id="SecondTitle">-Vente de patisseries personnalisé-</h2>
            </div>


            <!-- icon liens shop et account -->
            <div class="icons cotes">

                    <NuxtLink to="/account/panier" class="iconLink">
                        <Icon name="uil:shopping-bag" />
                    </NuxtLink>
               
                    <NuxtLink to="/account/coordonne" class="iconLink">
                        <Icon name="mdi:account" />
                    </NuxtLink>
            
            </div>

        </div>


        <!-- nav bar  -->


        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid justify-content-end d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
                    @click="navOpen = !navOpen">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" :class="{ show: navOpen }" id="navbarText">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <NuxtLink to="/" class="nav-link" aria-current="page">Accueil</NuxtLink>
                        </li>
                        <li class="nav-item">
                            <NuxtLink to="/shop" class="nav-link">Shop</NuxtLink>
                        </li>
                        <li class="nav-item">
                            <NuxtLink to="/contact" class="nav-link">Contact</NuxtLink>
                        </li>
                        <li class="nav-item">
                            <NuxtLink to="/ajouter" class="nav-link" v-if="user?.role == 'ROLE_ADMIN'">Ajouter</NuxtLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>




    </header>
</template>

<style scoped>
/* Barre de Recherche */

.cotes {
    width: 20vw;
}

.search {
    height: 35px;
}

input {
    border: 1px solid var(--rouge-sombre);
}

.search button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--rouge-sombre);
    background-color: var(--rouge-clair);
    border: 1px solid var(--rouge-sombre);
    border-radius: 20%;
    width: 40px;
}

.loupe {
    width: 30px;
    height: auto;
    margin: 0;
}

/* Titres */


.Titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#MainTitle {
    font-family: "Merienda", cursive;
    font-weight: 400;
    font-size: 40px;
}

#SecondTitle {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 32px;
}

/* icon liens shop et account */

.icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.iconLink {
    margin: 6px;
    filter: opacity(.6);
}

.icons svg {
    width: 35px;
    height: auto;
}

/* nav bar */

.router-link-active {
    color: rgb(177, 27, 35);
}

.nav-item {
    padding-right: 20px;
}

.navbar {
    background-color: var(--rouge-clair);
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 20px;
}


/* Globale */


a {
    color: var(--rouge-sombre);
}

header {
    border-bottom: 1px solid black;

}
</style>
