<template>
  <main v-if="data">
    <div class="container-fluid py-5" style="width: 85vw;">
      <div class="row ">
        <div class="col col-xl-3 col-lg-4 col-md-6 card-group" v-for="item of data">
          <ProductCard :produit="item" />
        </div>
      </div>
    </div>
  </main>

</template>



<script setup lang="ts">
import type { Produit } from '~/entities';
import ProductCard from './Produit/ProductCard.vue';



const { data } = useFetch<Produit[]>('http://localhost:8080/api/produit');

</script>