<template>
    <div class="row  d-flex justify-content-center">
        <div class="col col-12 col-md-8 col-lg-6 col-xl-4">
            <form @submit.prevent="login()" class="formulaire">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" v-model="email">
                </div>
                <div class="mb-3" v-if="isRegister">
                    <label class="form-label">Ton Pseudo</label>
                    <input type="text" class="form-control" v-model="pseudo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" v-model="password">
                </div>
                <div class="mb-3" v-if="isRegister">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" v-model="rePassword">
                </div>
                <button type="submit" class="btn">{{ !isRegister ? 'Connection' : 'Créer' }}</button>
            </form>
            <div class="center">
                <p class="p-2 text-center" v-if="!isRegister">Vous n'avez pas encors de compte ?</p>
                <button class="btn" id="create" @click="isRegister = !isRegister">{{ !isRegister ? 'Créer mon compte' : 'Retour'
                    }}</button>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { User } from '~/entities';


const user = useAuth();
const route = useRoute();
const email = ref('');
const pseudo = ref('');
const password = ref('');
const rePassword = ref('');
const isRegister = ref<boolean>(false);

const newUser = ref<User>({
    pseudo:"",
    email:"",
    password:""
})

async function login() {
    if (!isRegister.value) {
        const userResp = await $api<User>('/api/account', {
            headers: {
                'Authorization': 'Basic ' + btoa(email.value + ':' + password.value),
            }
        });
        user.value = userResp;
        if (route.query.initialPage) {
            navigateTo(route.query.initialPage as string);
        } else {
            navigateTo('/');
        }
    } 
    newUser.value.pseudo = pseudo.value
    newUser.value.email = email.value
    newUser.value.password = password.value
    const addUser = await $api<User>('/api/user', {
        method: 'POST',
        body: newUser.value
    })
    email.value = ''
    password.value = ''
    navigateTo('/');
}

</script>

<style scoped>
.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4em;
    margin-top: 4em;
}

input {
    margin: 1em;
    border: 2px solid var(--rouge-sombre);
}

button {
    background-color: var(--rouge-clair);
    font-weight: 600;
}

#create {
    border: 2px solid var(--rouge-clair);
    color: var(--rouge-clair);
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}
</style>