<template>
    <form @submit.prevent="handleSubmit">
        <div id="content">
            <label>
                Contenu :
                <textarea class="form-control" rows="10" cols="50" v-model="comm.text"
                    placeholder="Contenu du commentaire..."></textarea>
            </label>
        </div>
        
        <label>
            Votre note :
        </label>
        <StarRating v-model="comm.note" />
        <button class="btn btn-primary">Submit</button>
    </form>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import StarRating from '~/components/Produit/StarRating.vue';
import type { Commentaire, Produit } from '~/entities';

const route = useRoute();
const auth = useAuth();
const emits = defineEmits(['commentaireAjoute']);

const comm = ref<Commentaire>({
    text: '',
    produit: null,
    author: null,
    note: 0
});

const { data } = await useFetch<Produit>(`http://localhost:8080/api/produit/${route.params.id}`);

async function handleSubmit() {
    comm.value.produit = data.value;
    comm.value.author = auth.value;
    const reponse = await $api<Commentaire>('/api/comment', {
        method: 'POST',
        body: comm.value,
    });
    if (reponse) {
        comm.value = {
            text: '',
            produit: null,
            author: null,
            note: 0
        }
        emits('commentaireAjoute');
        
    }
}
</script>

<style scoped>
form {
    padding: 5px 25px;
    width: 35vw;
    height: 100%;
    border: 0.1px solid black;
}

#content {
    padding: 20px 0;
}

textarea{
    resize: none;
}
</style>
