<template>
  <div class="container">
    <h2>Évaluer nos produits</h2>
    <form class="border" @submit.prevent="handleSubmit">
      <p>{{ user?.pseudo }}</p>
      <p>{{ user?.id }}</p>
      <div class="mb-3">
        <label class="form-label">Note</label>
        <input class="form-control" v-model="note" type="number">
      </div>
      <div class="mb-3">
        <label class="form-label">Commentaire</label>
        <textarea class="form-control" rows="3" v-model="text"></textarea>
      </div>
      <button class="btn btn-outline-secondary" type="submit">Laisser vos mots</button>
    </form>
  </div>
</template>


<style scoped>
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.border {
  padding: 2rem;
}
</style>


<script setup lang="ts">
import { ref } from 'vue';
import type { Commentaire } from '~/entities';

const user = useAuth();
const text = ref('');
const note = ref(0);

const comment = ref<Commentaire>({
  text: '',
  note: 0,
});

function handleSubmit() {

  if (user.value){
    comment.value.text = text.value;
    comment.value.note = note.value;
    comment.value.author = user.value;
    emit('submit', comment.value);
  }else{}
}

const emit = defineEmits(['submit']);
</script>
