<template>
    <div class="d-flex justify-content-center">
        <div class="content card d-flex justify-content-between flex-row">
            <AddCommentaire @commentaireAjoute="fetchComments" />
            <div id="allComm">
                <div v-for="comm in comments" :key="comm.id">
                    <div class="commentaire d-flex flex-column align-items-between justify-content-end">
                        <div class="info">
                            <div class="ifo-mini d-flex in1">
                                <p class="px-1 ">by : <b>{{ comm.author?.pseudo }}</b></p>
                                <p class="px-1 " style="font-size: smaller;">{{ comm.author?.email }}</p>
                            </div>
                            <p class="p-0 in2">{{ comm.text }}</p>
                            <div id="Notation" v-if="comm.note != null">
                                <span class="star" v-for="n of 5">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-star-fill" viewBox="0 0 16 16" v-if="comm.note >= n">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-star" viewBox="0 0 16 16" v-else>
                                        <path
                                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                </span>


                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Options
                            </button>
                            <ul class="dropdown-menu">
                                <li><button type="button" class="dropdown-item"
                                        @click="handleChange(comm.id)">Editer</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import type { Commentaire } from '~/entities';
import AddCommentaire from './AddCommentaire.vue';

const route = useRoute();
const auth = useAuth();
const editingCommentaireId = ref<number | null>(null);

const comments = ref<Commentaire[]>([]);

async function fetchComments() {
    const response = await fetch(`http://localhost:8080/api/comment/produit/${route.params.id}`);
    const newData = await response.json();
    comments.value = newData;
}

fetchComments();

function handleChange(commentaireId: number | undefined) {
    if (commentaireId !== undefined) {
        editingCommentaireId.value = commentaireId;
    }
}

function cancelEdit() {
    editingCommentaireId.value = null;
}
</script>

<style scoped>
#allComm {
    overflow-y: scroll;
}

.in1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.card {
    width: 80vw;
    padding: 2.5vw;
    margin-top: 45px;
    margin-bottom: 45px;
    justify-content: center;
}

.ifo-mini p {
    margin: 0;
    padding: 0;
}

.commentaire {
    width: 35vw;
    border: .1px solid black;
    padding: 10px 10px;
    padding-bottom: 20px;
    margin: 15px 0;
    margin-right: 20px;
}

.content {
    height: 90vh
}
</style>
