<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <label>
                Auteur :
                <input class="form-control" v-model="editedComment.author?.pseudo" type="text" required>
            </label>
            <label>
                Contenu :
                <textarea class="form-control" v-model="editedComment.text" rows="5" required></textarea>
            </label>
            <div class="buttons">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
                <button class="btn btn-secondary" @click="cancelEdit" type="button">Annuler</button>
            </div>
        </form>
    </div>
</template>


<style scoped>
.form-control {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 35vw;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
</style>


<script setup lang="ts">
import { ref } from 'vue';
import type { Commentaire } from '@/entities';

const props = defineProps<{ Comment: Commentaire }>();
const emits = defineEmits(['save', 'cancel']);

const editedComment = ref<Commentaire>({
    text: '',
    note: 0,
});

Object.assign(editedComment.value, props.Comment);

const router = useRouter();

function handleSubmit() {
    emits('save', editedComment.value);
}

function cancelEdit() {
    emits('cancel');
}
</script>
