<template>
    <div class="card my-2" style="width: 18rem;" v-if="produit.images">
        <router-link :to="'/produit/'+produit.id" id="RouterLink">
            <img :src="produit.images[0].src" class="card-img-top" height="450px">
            <div class="card-body">
                <p class="card-text"><small class="text-body-secondary">Prix : {{ produit.prix }} €</small></p>
                <h5 class="card-title">{{ produit.titre }}</h5>
                <p class="card-text content">{{ produit.description }}</p>
            </div>
        </router-link>
    </div>

</template>

<script setup lang="ts">
import type { Produit } from '@/entities';

defineProps<{
    produit: Produit
}>();

</script>



<style scoped>
.card {
    background-color: #FAEBFF;
    max-height: 80vh;
}

img {
    object-fit: cover;
}

#RouterLink{
    text-decoration: none;
    color: black;
}

.content{
    max-height: 15vh;
    overflow: hidden !important;

    text-overflow: ellipsis;

}

</style>