<template>


    <div class="d-flex justify-content-center" v-if="!editing">
        <div class="row card">
            <div class=" col-12 d-flex flew-row">
                <img v-if="data?.images" :src="data?.images[0].src" class="card-img-top">
                <div class="card-body">
                    <main>
                        <h5 class="card-title">{{ data?.titre }}</h5>
                        <p class="card-text">{{ data?.description }}</p>
                        <div id="Notation">
                                <span class="star" v-for="n of 5" v-if="note">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-star-fill" viewBox="0 0 16 16" v-if="note >= n">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-star" viewBox="0 0 16 16" v-else>
                                        <path
                                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                </span>
                                <div v-else>
                                    <h2>erreur</h2>
                                </div>


                            </div>
                    </main>
                    <footer class="mesBoutton">
                        <button type="button" class="btn btn-secondary" @click="editing = !editing">Modifier</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>




<script setup lang="ts">
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import type { Produit } from '~/entities';


const route = useRoute()
const { data } = await useFetch<Produit>('http://localhost:8080/api/produit/' + route.params.id);
const { data: note } = await useFetch<number>('http://localhost:8080/api/comment/produit/notebyproduit/' + route.params.id);




const editing = ref(false);
</script>


<style scoped>
a:hover {
    cursor: pointer;
}

.card {
    width: 80vw;
    min-height: 80vh;
    margin-top: 45px;
    padding-top: 20px;
}

img {
    width: 40vw;
    height: 75vh;
    padding-right: 50px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body button {
    margin: 0 5px;
}


.mesBoutton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.plus {
    background-color: rgb(233, 245, 255);
}

.moins {
    background-color: rgb(255, 229, 229);
}

.card-text {
    width: 35vw;
}
</style>