<script lang="ts" setup>
import Login from '@/components/Login.vue'

const user = useAuth();

async function logout() {
  user.value = null
  navigateTo("/account")
}

</script>

<template>
  <main>
    <div v-if="user" class="row d-flex justify-content-center bgRose">
      <div class="spacer"></div>
      <div class="col-10">
        <h2>Mon Compte</h2>
        <h3>{{ user?.pseudo }}</h3>
        <p>{{ user?.email }}</p>
      </div>
    </div>
    <Login v-if="!user" />
    <div class="row d-flex justify-content-center m-3" v-if="user">
      <div class="col-2 navAccount">
        <NuxtLink to="/account/coordonne" class="m-2 link">Mes Coordonnées</NuxtLink>
        <NuxtLink to="/account/panier" class="m-2 link">Mon Panier</NuxtLink>
        <NuxtLink to="/account/suivie" class="m-2 link">Suivie de commande</NuxtLink>
        <NuxtLink to="/account/historique" class="m-2  link">Mon Historique commandes</NuxtLink>
        <NuxtLink to="/account/avis" class="m-2 link">Mes avis</NuxtLink>
        <button class="btn m-3" @click="logout()">Déconnection</button>
      </div>
      <div class="col-8 m-3">
        <NuxtPage/>
      </div>
    </div>
  </main>
</template>

<style scoped>
h2{
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin-top: 10px;
}

.link{
  text-decoration: none;
  font-size: 22px;
  color: var(--rouge-sombre);
  font-family: "Roboto Slab", serif;
}

h3{
  font-family: "Merienda", cursive;
  margin-top: 1em;
}

.spacer{
  height: 2px;
  background-color: var(--rouge-fraise);
}

button {
    background-color: var(--rouge-clair);
    font-weight: 600;
    font-family: "Roboto Slab", serif;
}

.bgRose{
  background-color: var(--rouge-clair);
}

.navAccount{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-top: 2em;
  background-color: var(--rouge-clair);
}
</style>
