<script lang="ts" setup>
import type { Produit, Image, Categorie } from '~/entities';

const img = ref<Image>({
  src: '',
  description: '',
})

const cat = ref<Categorie>({
  nom:''
})

const added = ref<Produit>({
  titre: '',
  description: '',
  prix: 0,
  images: [],
  categorie: ({
    id:0,
    nom: ''
  }),
})

const { data: categorie } = await useFetch<Categorie[]>('http://localhost:8080/api/categorie', {
  method: 'GET'
});

async function addProduit() {
  added.value.images?.push(img.value);
  added.value.categorie = cat.value
  const addProduit = await $api<Produit>('/api/produit', {
    method: 'POST',
    body: added.value
  })
}
</script>

<template>
  <div class="d-flex justify-content-center">
    <div class="col col-10 p-3">
      <div class="d-flex justify-content-center">
        <form @submit.prevent="addProduit()" class="formulaire">
          <div class="d-flex justify-centent-between">
            <div class="mb-3 col-8 p-2">
              <label class="form-label">Titre</label>
              <input type="text" class="form-control" v-model="added.titre">
            </div>
            <div class="mb-3 col-4 p-2">
              <label class="form-label">Prix</label>
              <input type="number" class="form-control" v-model="added.prix">
            </div>
          </div>
          <div class="mb-3 p-2">
            <label label="data">Categorie</label>
            <select class="form-select" v-model="cat">
              <option selected disabled>Choisir la catégorie</option>
              <option v-for="item of categorie" :value="item">{{ item.nom }}</option>
            </select>
          </div>
          <div class="mb-3 p-2">
            <label class="form-label">Description</label>
            <textarea type="" class="form-control" v-model="added.description"></textarea>
          </div>
          <div class="mb-3 p-2">
            <label class="form-label">Image</label>
            <input type="text" class="form-control" v-model="img.src">
          </div>
          <div class="mb-3 p-2">
            <label class="form-label">Image description</label>
            <input type="text" class="form-control" v-model="img.description">
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn m-2">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
button {
  background-color: var(--rouge-clair);
  font-weight: 600;
}
</style>
