<script lang="ts" setup>
import CallToAction from '~/components/Accueil/CallToAction.vue';
import ListCategorie from '~/components/Accueil/ListCategorie.vue';
import NotreHistoire from '~/components/Accueil/NotreHistoire.vue';
import Oneproduit from '~/components/Accueil/Oneproduit.vue';
import Patissier from '~/components/Accueil/Patissier.vue';

</script>

<template>

  <ListProduit></ListProduit>

  
  <!-- <CallToAction />
  
  <ListCategorie />
  
  <Oneproduit />
  
  <NotreHistoire />

  <Patissier /> -->

</template>

<style scoped>


</style>
