<script lang="ts" setup>
import type { Produit } from '~/entities';




const { data } = useFetch<Produit>('http://localhost:8080/api/produit/last');

</script>
<template>

  <main v-if="data?.images">
    <div class="py-lg-16 carousel bg-gray-200" v-if="data?.images[0]"
      style="background: no-repeat; background-size: cover; background-position: center"
      :style="{ backgroundImage: `url(${data.images[0].src})` }">
      <div class="my-content">
        <!-- row -->
        <div >
          <div>
            <!-- heading -->
            <h2 class="display-4 ">{{ data.titre }}</h2>
            <p class="lead  px-lg-12 mb-6">{{ data.description }}</p>
            <!-- button -->
            <div>
              <a href="#" id="CTA">Decouvrir des produits</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="py-lg-16 carousel bg-gray-200" v-else-if="data"
      style="background: url('test.jpg') no-repeat; background-size: cover; background-position: top center">
      <div class="my-content">
        <!-- row -->
        <div >
          <div>
            <!-- heading -->
            <h2 class="display-4 ">{{ data.titre }}</h2>
            <p class="lead  px-lg-12 mb-6">{{ data.description }}</p>
            <!-- button -->
              <button href="#" type="button" id="CTA">Decouvrir des produits</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <h1>erreur de requete "produit/last"</h1>
    </div>
  </main>
</template>

<style scoped>
.carousel {
  padding: 30px;
  height: 100vh;
  box-shadow: inset 0px -100px 50px rgba(0, 0, 0, 0.507);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.my-content{
  display: flex;
  align-items: center;
  padding: 60px 100px;
  background-color: rgba(255, 255, 255, 0.637);
  border: 1px solid black;
}
p, h2 {
  color: #130902;
  text-overflow: ellipsis;
}

p{
  margin-bottom: 50px;
  max-width: 60vw;
  max-height: 7vh;
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
}

h2{
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  font-size: 85px;
}

h2:first-letter {
  text-transform: uppercase;
}


#CTA{
  background-color: #FFE1EB;
  color: black;
  text-decoration: none;
  padding: 15px 40px;
  font-size: 16px;
  border: 1px solid black;
  &:hover{
  background-color: #ffc1d5;
  }
}
</style>
