<script lang="ts" setup></script>

<template>

  <div class="bloc-catego">

    <div class="bg-photo photo1">
      <div class="bloc-nom">
        <p>Entremets</p>
      </div>
    </div>

    <div class="bg-photo photo2">
      <div class="bloc-nom">
        <p>Petits Gâteaux</p>
      </div>
    </div>

    <div class="bg-photo photo3">
      <div class="bloc-nom">
        <p>Macaron</p>
      </div>
    </div>

    <div class="bg-photo photo4">
      <div class="bloc-nom">
        <p>Chocolat</p>
      </div>
    </div>

    <div class="bg-photo photo5">
      <div class="bloc-nom">
        <p>Gâteaux Japonais</p>
      </div>
    </div>

  </div>

</template>

<style scoped>
.bloc-catego {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: end;
}

.bg-photo {
  width: 16vw;
  height: 16vw;
  border-radius: 400px;
  margin: 0 20px;


  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
  }
}

.bloc-nom {
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 14vw;
  background-color: rgba(233, 235, 238, 0.884);

  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.photo1 {
  background-image: url("https://images.unsplash.com/photo-1505976378723-9726b54e9bb9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}


.photo2 {
  background-image: url("https://images.unsplash.com/photo-1600856450294-92b3a7062a3c?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.photo3 {
  background-image: url("https://images.unsplash.com/photo-1612198790700-0ff08cb726e5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.photo4 {
  background-image: url("https://images.unsplash.com/photo-1610230285329-a8f410716d3e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1610230285329-a8f410716d3e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.photo5 {
  background-image: url("https://images.unsplash.com/photo-1627308592814-f88b68f7b4a1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
</style>
