<script lang="ts" setup>

</script>


<template>
  <main>
    <div class="imgPart">

      <div class="images img1"></div>
      <div class="images img2"></div>
    </div>
    <div class="text">
      <h1>
        Notre Histoire
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur. Ipsum elementum suspendisse pellentesque nibh aliquam lacus. Morbi consequat eu massa pulvinar. Est sagittis magna lectus id mattis. Sit suspendisse vestibulum volutpat cursus convallis vitae maecenas egestas.
<br><br>Lorem ipsum dolor sit amet consectetur. Ipsum elementum suspendisse pellentesque nibh aliquam lacus. Morbi consequat eu massa pulvinar. Est sagittis magna lectus id mattis. <br><br> Sit suspendisse vestibulum volutpat cursus convallis vitae maecenas egestas.
Lorem ipsum dolor sit amet consectetur. Ipsum </p>
    </div>
  </main>
</template>

<style scoped>
.img1 {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/12/17/31/apple-tart-2845186_1280.jpg");
  position: relative;
}

.img2 {
  background-image: url("https://cdn.pixabay.com/photo/2011/03/30/10/28/apple-pie-6007_1280.jpg");
  position: relative;
  left: 250px;
  bottom: 250px;
}

.images {
  height: 570px;
  width: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  border-radius: 5px;
}


main {
  display: flex;
  margin: 400px 0;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.text{
  max-width: 40vw;
  font-size: 22px;
}

.imgPart{
  width: 700px;
  height: 900px;

}
</style>
