<script lang="ts" setup>
import type { Produit } from '~/entities';

const { data } = useFetch<Produit>('http://localhost:8080/api/produit/last');
let quantite = ref(0)

</script>

<template>

  <div v-if="data?.images">

    <div class="bloc">

      <img :src="data?.images[0].src" alt="">

      <div class="bloc-text">
        <h1>{{ data.titre }}</h1>

        <p>{{ data.description }}</p>
        <p> prix <span class="prix">{{ data.prix }} €</span></p>

        <div class="bloc-prix">
          <div class="addPanier">
            <div class="d-flex selectPrice mb-4">
              <button :disabled="quantite <= 0" @click.prevent="quantite --" class="btn btn-danger mesBoutons">-</button>
              <input id="quantite" type="number" v-model="quantite"></input>
              <button @click.prevent="quantite ++" class="btn btn-primary mesBoutons">+</button>
              <div class="PrixTotal">
                <p>Prix total : <span class="prix">{{ quantite * data.prix }} €</span></p>
              </div>
            </div>
          </div>
        </div>

        <div>
          <NuxtLink to="/account/panier" id="CTA">Ajouter au panier</NuxtLink>
        </div>
      </div>
    </div>
  </div>


  <ListCommentaire />




</template>

<style scoped>
.PrixTotal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PrixTotal p{
  padding: 0;
  margin: 0;
  padding-left: 30px;
}

#quantite{
  border: 1px solid black;
margin-left: 5px;
margin-right: 5px;
padding-left: 10px;
width: 60px;

}

.mesBoutons {
    padding-left: 25px;
    padding-right: 25px;
}

.bloc {
  width: 100%;
  gap: 5rem;
  margin: 10rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-text {
  width: 35vw;
}

img {
  width: 35vw;
  height: 80vh;
  object-fit: cover;
}

#CTA {
  background-color: #ffc1d5;
  color: black;
  text-decoration: none;
  padding: 15px 40px;
  font-size: 16px;
  border: 1px solid black;
  &:hover {
    background-color: #ffcfde;
  }
}

p {
  max-height: 140px;
  overflow: hidden;
}

.prix{
  color: rgb(44, 0, 0);
  font-weight: bold;
}
</style>
