<script lang="ts" setup></script>

<template>

  <div class="container">

    <div class="row">
      
      <div class="col-md-6 col-sm-12 col-lg-4" >
        <img src="https://images.unsplash.com/photo-1607631568010-a87245c0daf8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
  
      <div class="col-md-6 col-sm-12 col-lg-4" >
        <div class="border">
          <div class="text-bloc">
            <h2> Jean Caramel</h2>
            <p> Lorem ipsum dolor sit amet consectetur. Bibendum dolor cum quis at metus. Sed mi mattis duis congue ut suspendisse. Bibendum diam euismod a lacus faucibus purus. Est ornare in egestas convallis mauris nulla sed eget. Non proin risus sit orci fermentum neque donec tempor.
              Lorem ipsum dolor sit amet consectetur. Bibendum dolor cum quis at metus. Sed mi mattis duis congue ut suspendisse. Bibendum diam euismod a lacus faucibus purus. Est ornare in egestas convallis mauris nulla sed eget. Non proin risus sit orci fermentum neque donec tempor.
            </p>
          </div>          
        </div>
      </div>
        
    </div>
  </div>

</template>

<style scoped>

img {
    width: 30rem;
}

.text-bloc{
  width: 30 rem;
  padding: 3rem;
}

.border{
  border: solid 4px rgb(170, 118, 127);
}


</style>
